<section class="hero section gutter padding_v padding_h">
  <div class="section__content">
    <h1 class="hero__title">
      The Technology Adoption Solution
    </h1>
    <p class="hero__subtitle">
     A Skill Sprint is an intense real-world learning experience for development teams looking to embrace new technologies. Developed by Andrew Holway in 2018, and now delivered by German integration specialists Cloudwürdig, the discipline is based on research by a number of academics into the way people learn. At its heart is the concept that people learn most effectively by “doing” and that a one-week Skill Sprint developing a live product can empower a development team for a year.
    </p>
  </div>
</section>