<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
    <p class="thumb-cta__text">
		In a Skill Sprint, the future operators of the infrastructure build it and manage it themselves – thus instilling ownership and knowledge in ways that other methods do not. It typically consists of 3 participants: 2 engineers from an organization’s development team who assume the roles of ‘Driver’ and ‘Navigator’, plus an outside subject matter expert called a ‘Captain.’ The Captain provides specific best practices and pattern guidance while the Navigator and Drivers code and build.
	  </p>
    </div>
  </div>
</section>




