<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">The Skill Sprint, a type of orchestrated learning experience, is a technology adoption solution that bypasses these common learning challenges and technical roadblocks.</h2>
       <p class="thumb-cta__text">	
		Skill Sprints are one-week, cost-effective processes for important change within organizations. They help to manage technical risks and nurture individuals who become continual agents for transformation within their teams.
	  </p>
      <p class="thumb-cta__text">
     	
		In a Skill Sprint, the future operators of the infrastructure build it and manage it themselves – thus instilling ownership and knowledge in ways that other methods do not. It typically consists of 3 participants: 2 engineers from an organization’s development team who assume the roles of ‘Driver’ and ‘Navigator’, plus an outside subject matter expert called a ‘Captain.’ The Captain provides specific best practices and pattern guidance while the Navigator and Drivers code and build.
	  </p>
	  <p class="thumb-cta__text">
		The Skill Sprint is designed to address the team’s specific and immediate issue (e.g. infrastructure complexity), maximize existing skills of team members and drive business value by reducing technical debt.
      </p>
    </div>
  </div>
</section>




