<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <p class="thumb-cta__text">The Skill Sprint, a type of orchestrated learning experience, is a technology adoption solution that bypasses these common learning challenges and technical roadblocks.</p>
      </br>
       <p class="thumb-cta__text">	
		Skill Sprints are one-week, cost-effective processes for important change within organizations. They help to manage technical risks and nurture individuals who become continual agents for transformation within their teams.
	  </p>
    </div>
  </div>
</section>




