<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">Maintaining Ownership</h2>
	  <p class="thumb-cta__text">
	  	 An important part of engineering teams productivity and quality is the emotional bond between the team members and the product. Team members that care will produce better work - faster and will have healthier relationships with the organisation. Pushing requirements top-down is normally understood to be a bad idea and maintaining the autonomy of the engineering team is very important according to Agile principles.

	  	 Using external technology consultants and freelancers can create quite difficult situations - when the consultant leaves the job - how can we be sure that their output is successfully adopted by the team? If their output is poorly understood or perceived to be of poor quality then the team will reject ownership which immediately adds it to technical debt. 

	  	 The Skill Sprint is designed to ensure that the input of the Captain can be properly adopted by the permanent employees by imposing a simple rule - The Captain may not touch a keyboard during the skill sprint.
	  </p>
    </div>
  </div>
</section>




