<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">Technical skills are tacit knowledge</h2>
	  <p class="thumb-cta__text"><i>	
		Tacit knowledge (as opposed to formal, codified or explicit knowledge) is the kind of knowledge that is difficult to transfer to another person by means of writing it down or verbalizing it. For example, that London is in the United Kingdom is a piece of explicit knowledge that can be written down, transmitted, and understood by a recipient. However, the ability to speak a language, ride a bicycle, knead dough, play a musical instrument, or design and use complex equipment requires all sorts of knowledge which is not always known explicitly, even by expert practitioners, and which is difficult or impossible to explicitly transfer to other people.
	  </i></p>
	  <p class="thumb-cta__text" align="right">	
	    <a href="https://en.wikipedia.org/wiki/Tacit_knowledge">Wikipedia - Tacit Knowledge</a>
	  </p>
    </div>
  </div>
</section>




