$page-font-size: 14px;
$page-color: $black;
$page-font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;

$section-content-max-width: 63rem;
$section-content-small-max-width: 75vw;

$section-title-line-height: 1.2;

$section-subtitle-font-size: 30px;
$section-subtitle-font-weight: 300;
$section-subtitle-line-height: 1.4;

$gutters: [40];

$top-margins: [40];

$padding-vertical: 5vw;

$button-md-padding: 0.75vw 3vw;
$button-md-font-size: 1.5rem;

$mobile: 450px;
$tablet: 768px;
$desktop: 980px;
