$page-font-size: 14px;
$page-color: $black;
$page-font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;

$header-content-height: 50px;
$header-background-color: $teal-400;
$header-color: $white;

$section-content-max-width: 1180px;
$section-content-small-max-width: 800px;

$padding-vertical: 40px;
