<footer class="footer section padding_h">
  <div class="flex flow_row sm-flow_col">
    <div class="sm-width_1-1">
      <div class="footer__copy">
        <a href="/">A "Skill Sprint" is an open source methodology developed by Andrew Holway. The author encourages the adapation and reuse of these ideas and principles and hopes that useful adaptions can make their way back into the methodology.</a>
      </div>
      <small class="footer__copy">&copy; 2016-2020 Andrew Holway</small>
    </div>
  </div>
  <div class="footer__meta">
    <ul class="utility">
      <li class="utility__item">
        <a href="https://creativecommons.org/licenses/by/3.0/">Attribution 3.0 Unported (CC BY 3.0)</a>
      </li>
            <li class="utility__item">
        <a href="mailto:andrew.holway@gmail.com">andrew.holway@gmail.com</a>
      </li>
    </ul>
  </div>
</footer>
