<footer class="section padding_h padding_v">
  <div class="section__content">
    <div class="flex flow_row sm-flow_col">
      <div class="width_1-4 sm-width_1-1">
        <div class="footer__logo">
          <a href="/">Terminus</a>
        </div>
        <small class="footer__copy">&copy; 2019 Seldon World LLC</small>
      </div>
      <div class="width_1-4 sm-width_1-1">
        <ul class="footer__navs">
          <li class="footer__nav">
            <a href="/plans" class="footer__nav-link">Plans</a>
          </li>
          <li class="footer__nav">
            <a href="/features" class="footer__nav-link">Features</a>
          </li>
          <li class="footer__nav">
            <a href="/conventions" class="footer__nav-link">Conventions</a>
          </li>
          <li class="footer__nav">
            <a href="/extensions" class="footer__nav-link">Chrome Extension</a>
          </li>
          <li class="footer__nav">
            <a href="/utm-parameters-best-practices" class="footer__nav-link">Free UTM email course</a>
          </li>
          <li class="footer__nav">
            <a href="/google-analytics-url-builder" class="footer__nav-link">Free Google URL Builder</a>
          </li>
        </ul>
      </div>
      <div class="width_1-4 sm-width_1-1">
        <ul class="footer__navs">
          <li class="footer__nav">
            <a href="/blog" class="footer__nav-link">Blog</a>
          </li>
          <li class="footer__nav">
            <a href="/contact" class="footer__nav-link">Contact Us</a>
          </li>
          <li class="footer__nav">
            <a href="/docs" class="footer__nav-link">Documentation</a>
          </li>
          <li class="footer__nav">
            <a href="/gdpr" class="footer__nav-link">EU GDPR</a>
          </li>
          <li class="footer__nav">
            <a href="/privacy" class="footer__nav-link">Privacy Policy</a>
          </li>
          <li class="footer__nav">
            <a href="/terms" class="footer__nav-link">Terms and Conditions</a>
          </li>
        </ul>
      </div>
      <div class="width_1-4 sm-width_1-1">
        <ul class="footer__navs">
          <li class="footer__nav">
            <a href="/blog" class="footer__nav-link">Partners</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
