<footer class="footer section padding_h">
  <div class="flex flow_row sm-flow_col">
    <div class="width_1-4 sm-width_1-1">
      <div class="footer__logo">
        <a href="/">skillsprint</a>
      </div>
      <small class="footer__copy">&copy; 2019-2020 Skillsprint LLC</small>
    </div>
    <div class="width_1-4 sm-width_1-1">
      <ul class="footer__navs">
        <li class="footer__nav">
          <a href="/problem/" class="footer__nav-link">Problem</a>
        </li>
        <li class="footer__nav">
          <a href="/solution/" class="footer__nav-link">Solution</a>
        </li>
        <li class="footer__nav">
          <a href="/about/" class="footer__nav-link">About</a>
        </li>
        <li class="footer__nav">
          <a href="/case-studies/" class="footer__nav-link">Case studies</a>
        </li>
      </ul>
    </div>
    <div class="width_1-2 sm-width_1-1">
    </div>
  </div>
  <div class="footer__meta">
    <ul class="utility">
      <li class="utility__item">
        <a href="#">License</a>
      </li>
      <li class="utility__item">
        <a href="#">Privacy</a>
      </li>
    </ul>
  </div>
</footer>
