<section class="hero section gutter padding_v padding_h">
  <div class="section__content">
    <h1 class="hero__title">
      The Technology Adoption Problem
    </h1>
    <p class="hero__subtitle">
     Technical teams often struggle to adopt new technologies. Within todays fast paced development teams there is little time to learn and experiment which often results in poorly thought out implimentations which add to technical debt. Managers might consider using consultants, freelancers or training to get the required skills in the team but these - more often than not backfire.
    </p>
    <p class="hero__subtitle">
      It is possible to use experts to get a sustainable and predictable outcome but these engagements need to be tightly controlled. The Skill Sprint provides a blueprint for these engagement ensureing that the Expert delivers value in a structured manner which does not remove ownership from the permanant members of the team.
    </p>
  </div>
</section>
