<section class="section section_light gutter padding_h padding_v">
  <div class="section__content section__content_sm">
    <h2 class="section__subtitle text_align_left">
      Technical teams often struggle to adopt new technologies. Within todays fast paced development teams there is little time to learn and experiment which often results in poorly thought out implimentations which add to technical debt. Managers might consider using consultants, freelancers or training to get the required skills in the team but these - more often than not backfire.
    </h2>
    <br>
    <h2 class="section__subtitle text_align_left">
      It is possible to use experts to get a sustainable and predictable outcome but these engagements need to be tightly controlled. The Skill Sprint provides a blueprint for these engagement ensureing that the Expert delivers value in a structured manner which does not remove ownership from the permanant members of the team.
    </h2>
  </div>
  <div class="section__content margin_top_40">
    <div class="gutter__items_40 flex align-items_center">
      <div class="gutter__item_40">
        <div class="options__item">
          <h3 class="options__subtitle">
            Tackling the problem themselves
          </h3>
          <p class="options__copy">
            Teams forge ahead with existing knowledge and run into issues they
            cannot solve, while incurring significant technical debt. The outcomes
            are unreliable and/or costly, and time to MVP is lengthy.
          </p>
        </div>
        <div class="options__item">
          <h3 class="options__subtitle">
            Training
          </h3>
          <p class="options__copy">
            Teams undergo supplementary skills training, which usually proves to
            be inadequate as trainees rarely have the opportunity to use newly
            acquired knowledge before it is forgotten.
          </p>
        </div>
        <div class="options__item">
          <h3 class="options__subtitle">
             Hiring new employees
          </h3>
          <p class="options__copy">
            Finding the right hires on the market and establishing their
            competency levels can be difficult. Teams choose to increase headcount
            at a higher cost, and in doing so, also forego the option of
            continuing professional development for existing talent. This leads to
            developer turnover.
          </p>
        </div>
        <div class="options__item">
          <h3 class="options__subtitle">Using consultants</h3>
          <p class="options__copy">
            While often seen as a quick fix, consulting services tend to create
            inflexible black boxes that lock teams into costly support services.
            This results in developers lacking true ownership of their
            infrastructure and MVP.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
