.footer {
  border-top: 1px solid $grey-100;
  padding-top: 5vw;

  &__logo {
    font-size: 2vw;
    font-weight: 600;
    line-height: 1.4;
  }

  &__copy {
    font-size: 2vw;
    font-weight: 200;
    line-height: 1.4;
    color: $grey-400;
    display: inline-block;
    margin-top: 10px;
  }

  &__nav {
    font-size: 14px;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__meta {
    border-top: 1px solid $grey-100;
    margin-top: 40px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
