.header {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);

  &__logo {
    font-size: 21px;
    font-weight: 600;
    text-transform: lowercase;
  }

  &__navs {
    height: 100%;
  }

  &__nav {
    font-size: 16px;
    height: 100%;
    display: inline-block;
    line-height: $header-content-height;
    padding: 0 15px;

    &:hover {
      background-color: transparentize($black, .9);
    }
  }
}
