.hero {
  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.4;
    max-width: 600px;
  }

  &__subtitle {
    font-size: 21px;
    font-weight: 300;
    margin-top: 20px;
    max-width: 450px;
  }
}
