.hero {
  &__title {
    font-size: 2rem;
    font-weight: 550;
    line-height: 1.4;
    max-width: 100%;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 3vw;
  }
}
