.thumb-cta {
  &__placeholder {
    background-color: $black;
    max-width: 400px;
    padding-top: 0;
    width: 100%;

    &_rev {
      margin-left: auto;
    }
  }

  &__details {
    padding: 0 0vw;
    margin-top: 0 0vw;
  }

 &__title {
    font-size: 4vw;
    font-weight: 800;
    line-height: 1.8;
    margin-top: 2vw;
  }

  &__text {
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 1.8;
    margin-top: 3px;
  }

  &__box {
    display: flex;
    justify-content: space-evenly;

  }

  &__actions {
    font-size: 2.5vw;
    margin-top: 25px;
  }
}

@include mobile {
  .thumb-cta {
  &__details {
    padding: 0 0vw;
    margin-top: 0 0vw;
  }

    &__placeholder {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
