.thumb-cta {
  &__placeholder {
    background-color: $black;
    max-width: 400px;
    padding-top: 0;
    margin-bottom: 2rem;
    @media only screen and (min-width: $tablet) {
      margin-bottom: 0rem;
      margin-right: 2rem;
    }

    &_rev {
      margin-left: auto;
    }
  }

  &__details {
    padding: 0 0vw;
    margin-top: 0 0vw;
  }

 &__title {
   font-weight: 500;
   line-height: 1.8;
   font-size: 1.5rem;
    @media only screen and (min-width: $mobile) {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    @media only screen and (min-width: $desktop) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 1.8;
    margin-top: 3px;
    font-size: 1.3rem;
    @media only screen and (min-width: $mobile) {
      font-size: 1.4rem;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 1.5rem;
    }
    @media only screen and (min-width: $desktop) {
      font-size: 1.6rem;
    }
  }

  &__box {
    display: flex;
    justify-content: space-evenly;

  }

  &__actions {
    font-size: 2.5rem;
  }
}

@include mobile {
  .thumb-cta {
  &__details {
    padding: 0 0vw;
    margin-top: 0 0vw;
  }

    &__placeholder {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
