<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
	  <p class="thumb-cta__text">
	  	From its inception, Italian-based digital lending platform, Credimi, had always looked to build a continuous integration pipeline. The B2B company aims to be the fastest, simplest and most transparent of its kind – a vision that CTO Edmondo Porcu has extended onto his development team.
	  </p></br>
      <p class="thumb-cta__text">
    	Credimi embraced microservices from Day 1, but it soon found that the management of all the architecture components was becoming increasingly complicated.
	  </p></br>
	  <p class="thumb-cta__text">
    	“Every time we needed to make a change, we had to set up all the right pieces,” Porcu said. “There was significant risk of broken code going through production, and significant manual work required in order to test changes. Because one small change affected several microservices, it needed to be deployed by hand.”
	  </p></br>
	  <p class="thumb-cta__text">
		Porcu began looking for microservice architecture that was new and Docker-native. Instead of turning to Jenkins, he chose Codefresh – the first CI/CD platform built for Kubernetes. As one of Codefresh’s first customers, Credimi enjoyed faster builds and deployments, complexity reduction and automation in a fully cloud-based architecture.
	  </p></br>
	  <p class="thumb-cta__text">
		Codefresh and Kubernetes brought opportunity for the Credimi development team, but several challenges still remained: 1) to set up the full pipeline enabled by these platforms, and 2) to bring knowledge to the development team that would allow it to unlock the full-featured potential of these technologies.
	  </p>
    </div>
  </div>
</section>

<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
    <p class="thumb-cta__text">
       Two of Porcu’s top engineers began working alongside Otter Networks in a one-week skill sprint to achieve these crucial steps of migration and knowledge transfer.
    </p></br>
    <p class="thumb-cta__text">
       “Our participating engineers ended up having a much clearer understanding of the different features Kubernetes, and how they should use them to get the best value,” Porcu said.
    </p></br>
    <p class="thumb-cta__text">
    	That’s the very idea behind DevOps skill sprint methodology. Not only do developers get flexible new infrastructure, but they build it themselves, and truly own their full pipeline.
    </p></br>
    <p class="thumb-cta__text">
      “Our engineers worked with Otter Networks CEO and Sprint Leader, Andrew, who could guide their strategy and discuss it. They were able to validate what they thought they should be doing,” Porcu said. “Andrew was there to give help or provide quick scripts when necessary to avoid long processes. Our engineers didn’t spend precious time writing annoying scripts, and instead focused on the important work.”
    </p></br>
    <p class="thumb-cta__text">
      The skill sprint kept Credimi engineers in high gear for a full week, allowing them to migrate 10 of their most tightly coupled services into a continuous delivery pipeline. Through a pairing approach and exchange of tacit knowledge – or knowledge that is learned through repetition and quality social interaction – the team gained a firm grasp on how to build and operate their new infrastructure.
    </p></br>
    <p class="thumb-cta__text">
      In the week immediately following the sprint, Credimi engineers migrated an additional 5-7 services. This completed the most critical part of their migration, while simultaneously putting to practice the knowledge obtained in the sprint and combating the Forgetting Curve.
    </p>
    </div>
  </div>
</section>

<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
    <p class="thumb-cta__text">
		Credimi now has the largest chunk of their tasks behind them. The critical migration has been completed, and the team possesses the knowledge to finish the smaller service migrations on their own time. After the skill sprint, Credimi was able to resolve its “manual DevOps” bottleneck, create clean microservice architecture and avoid any dependencies on expensive services.
    </p></br>
    <p class="thumb-cta__text">	
		“I’d never heard anyone speaking openly about tacit knowledge and knowledge transfer in engineering teams,” Porcu said. “We’re now considering doing similar sprints internally, with the most experienced and specialized developers sharing their knowledge in a way that’s sustainable and valuable. We feel as though we’ve invested in our staff without resorting to outside consultants.”
	</p>
    </div>
  </div>
</section>


















