<section class="hero section gutter padding_v padding_h">
  <div class="section__content">
    <h1 class="hero__title">
      Case Studies
    </h1>
    <p class="hero__subtitle">
     Camping.info migrates from a complex and inflexible AWS setup to Kubernetes.
    </p>
    <p class="hero__subtitle" align=right>
    <a href="/case-studies/camping-info/">Read More</a>
    </p>
        <p class="hero__subtitle">
     Credimi finally gets control of their Microservices with Kubernetes.
    </p>
    <p class="hero__subtitle" align=right>
    <a href="/case-studies/credimi/">Read More</a>
    </p>
  </div>
</section>
