<section class="hero section padding_v padding_h">
  <div class="section__content">
    <p class="hero__subtitle">
       By the end of the process the team will have delivered a working product in the new technology and will have the skills and ownership required to push things forward. Ideally the Captain will take the team 90% of the way within the Skill Sprint - leaving them in a position where things can be completed under their own steam. This can be quite difficult for a Captain as they will be unable to share in the glory but this ensures the team enjoys the full <i>liminality</i> of the experience. They themselves will be transformed.
    </p>
  </div>
</section>
