<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder"></div>
    </div>
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="section__title">The Problem</h2>
      <p class="thumb-cta__text">
        Technical teams often struggle to adopt new technologies. In today’s
        rapidly evolving technical landscape, this challenge prevents otherwise
        innovative or capable companies from reaching their true value potential.
      </p>
      <div class="thumb-cta__actions">
        <a href="/problem/" class="button button_md button_light">Learn more</a>
      </div>
    </div>
  </div>
</section>
