<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex flow_row-rev sm-flow_col align-items_center">
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder thumb-cta__placeholder_rev"></div>
    </div>
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="section__title">The Solution</h2>
      <p class="thumb-cta__text">
        Skill Sprint was introduced as both a concept and applied methodology.
        A new approach to technology adoption for development teams, the Skill
        Sprint provides an ideal learning environment for skills acquisition,
        retention and application.
      </p>
      <div class="thumb-cta__actions">
        <a href="/solution/" class="button button_md button_light">Learn more</a>
      </div>
    </div>
  </div>
</section>
