<section class="hero section padding_v padding_h">
  <div class="section__content">
    <h1 class="hero__title">
      Skill Sprints: The effective method to adopt new technologies for tech teams.
    </h1>
    <p class="hero__subtitle">
      Out with training and consultants. In with knowledge sharing and ownership.
    </p>
      <div class="thumb-cta__box">
	      <div class="thumb-cta__actions">
	        <a href="/problem/" class="button button_md button_blue">Problem</a>
	      </div>
	      <div class="thumb-cta__actions">
	        <a href="/solution/" class="button button_md button_blue">Solution</a>
	      </div>
	      <div class="thumb-cta__actions">
	        <a href="/dossier/" class="button button_md button_blue">Dossier</a>
	      </div>
	  </div>
  </div>
</section>
