<section class="hero section padding_v padding_h">
  <div class="section__content">
    <h1 class="hero__title">
      Skill Sprints are a one week, open source methodology for technology adoption within Development Teams
    </h1>
    <p class="hero__subtitle">
      Using freelancers or consultants to get new skills into your team is fraught with difficulties - We present the SkillSprint as a method for exposing the unknowns and bringing the process under control.
    </p>
      <div class="thumb-cta__box">
	      <div class="thumb-cta__actions">
	        <a href="/problem/" class="button button_md button_blue">Problem</a>
	      </div>
	      <div class="thumb-cta__actions">
	        <a href="/problem/" class="button button_md button_blue">Solution</a>
	      </div>
	      <div class="thumb-cta__actions">
	        <a href="/problem/" class="button button_md button_blue">Case Studies</a>
	      </div>
	      <div class="thumb-cta__actions">
	        <a href="/problem/" class="button button_md button_blue">Profile</a>
	      </div>
	  </div>
  </div>
</section>
