<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">Step Zero - The Skill Sprint Captain</h2>
      <p class="thumb-cta__text">
          The Captain of a Skill Sprint should be a subject expert in the technology that will be adopted. They should have many deployments under their belt and have a deep understanding of the caveats and special cases. Their job is to lead the process and ensure that the team is enabled at every moment. They should ideally have some teaching experiance - be patient, creative with great communication and collaboration skills.
      </p>
    </div>
  </div>
</section>
