<section class="thumb-cta section padding_h section_light padding_v">
  <div class="section__content section__content_sm flex flow_row-rev sm-flow_col align-items_center">
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder thumb-cta__placeholder_rev"><img src="images/captain.jpg" alt="The Leader"></div>
    </div>
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="section__title">The SkillSprint Leader</h2>
      <p class="thumb-cta__text">
          The Leader of a SkillSprint should be a subject expert in the technology that will be adopted. They should have many deployments under their belt and have a deep understanding of the caveats and special cases.
      </p>
    </div>
  </div>
</section>
