<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">The SkillSprint Leader</h2>
      <p class="thumb-cta__text">
          The Leader of a SkillSprint should be a subject expert in the technology that will be adopted. They should have many deployments under their belt and have a deep understanding of the caveats and special cases.
      </p>
    </div>
  </div>
</section>
