<section class="thumb-cta section padding_h">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder"><img src="images/captain.jpg" alt="The Leader"></div>
    </div>
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="section__title">Step One - Define an MVP</h2>
      <p class="thumb-cta__text">
        The first step in adopting any technology should be to define the first business impact that this technology should have. 
        The MVP should affect the work of at least one permanent employee - hopefully for the better. It is important that something actually changes for the MVP to be successful. 
        There are no "Proof Of Concepts" here.
      </p>
    </div>
  </div>
</section>



