<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex flow_row-rev sm-flow_col align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">Step One - Define the Minimum Viable Product</h2>
      <p class="thumb-cta__text">
        The first step in adopting any technology should be to define the first business impact that this technology should have. 
        The Minimum Viable Product should affect the work of at least one permanent employee - hopefully for the better. It is important that something actually changes for the Skill Sprint to be successful. There are no "Proof Of Concepts" here - real things have to change.
      </p>
    </div>
  </div>
</section>



