<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="section__title">Step Four - JFDI</h2>
      <p class="thumb-cta__text">
        In a private room - removed from slack, email and other nusances the team delivers the MVP. The Leader - will guide the process - micromanaging where nessasary to ensure that the team stays focussed and on goal. The Leader will have to kill 
      </p>
    </div>
  </div>
</section>