<section class="thumb-cta section padding_h padding_v section_light">
  <div class="section__content section__content_sm flex flow_row-rev sm-flow_col align-items_center">
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder thumb-cta__placeholder_rev"><img src="images/owl.png" alt="Owl"></div>
    </div>
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="section__title">Step Four - JFDI</h2>
      <p class="thumb-cta__text">
        In a private room - removed from slack, email and other nusances the team delivers the MVP. The Leader - will guide the process - micromanaging where nessasary to ensure that the team stays focussed and on goal. The Leader will have to kill 
      </p>
    </div>
  </div>
</section>