<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex flow_row-rev sm-flow_col align-items_center">
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder thumb-cta__placeholder_rev"><img src="images/captain.jpg" alt="The Leader"></div>
    </div>
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="section__title">Step Two - Assemble the Team</h2>
      <p class="thumb-cta__text">
        Upto three permanent members of staff should be committed into the skillsprint and they will need to be completely excused from their day to day duties for the duration of the one week sprint. These members of staff will do all of the work required to complete the MVP within the sprint. If the task is not complete by the end of the sprint they should be able to continue on until the delivery is complete.
      </p>
    </div>
  </div>
</section>
