<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex flow_row-rev sm-flow_col align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">Step Three - Plan to expose risks and caveats</h2>
      <p class="thumb-cta__text">
        New technologies have to be integrated with existing process and technology. 
        The Leader of the Skill Sprint should work with the team to expose risks, uncertainties and possible sticking points. 
        This shouldn't take more than a few hours - if its getting laborious then the MVP is probably too ambitious.
      </p>
    </div>
  </div>
</section>