<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="section__title">Step Two - Assemble the Team</h2>
      <p class="thumb-cta__text">
        Upto three permanent members of staff should be committed into the skillsprint and they will need to be completely excused from their day to day duties for the duration of the one week sprint. These members of staff will do all of the work required to complete the MVP within the sprint. If the task is not complete by the end of the sprint they should be able to continue on until the delivery is complete.
      </p>
    </div>
  </div>
</section>
