<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">Using Consultants or Freelancers</h2>
      <p class="thumb-cta__text">
     	While often seen as a quick fix, consulting services tend to create inflexible black boxes that lock teams into costly support services. This results in developers lacking true ownership of their product.
      </p>
    </div>
  </div>
</section>