<section class="hero section gutter padding_v padding_h">
  <div class="section__content">
    <h1 class="hero__title">
      The Technology Adoption Problem
    </h1>
    <p class="hero__subtitle">
     Technical teams often struggle to adopt new technologies. Within todays fast paced development teams there is little time to learn and experiment which often results in poorly thought out implementations which add to technical debt. Managers might consider using consultants, freelancers or training to get the required skills in the team but these more often than not backfire. A holistic approach is required to ensure that a technical solution is delivered alongside knowledge and ownership.
    </p>
    <p class="hero__subtitle">
      It is possible to use experts to get a sustainable and predictable outcome but these interactions need to be tightly controlled. The Skill Sprint provides a blueprint ensuring that the expert delivers value in a structured manner which does not remove ownership from the permanant members of the team.
    </p>
  </div>
</section>
