<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details">
      <h2 class="thumb-cta__title">Hiring new employees</h2>
      <p class="thumb-cta__text">
        Finding the right hires on the market and establishing their competency levels can be difficult. Teams choos to increase headcount at a higher cost, and in doing so, also forego the option of continuing professional development for existing talent.
      </p>
    </div>
  </div>
</section>