<section class="thumb-cta section section_light padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder"><img src="/images/kitten.jpg"></div>
    </div>
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="thumb-cta__title">Tackling the problem themselves</h2>
      <p class="thumb-cta__text">
        Teams forge ahead with scant knowledge - generating technical debt along the way. Goals are often extremely hazily with poorly set success The outcomes are normally unpredictable and expensive.
      </p>
    </div>
  </div>
</section>