<section class="thumb-cta section padding_h padding_v">
  <div class="section__content section__content_sm flex align-items_center">
    <div class="thumb-cta__details width_1-2 sm-width_1-1">
      <h2 class="thumb-cta__title">Training</h2>
      <p class="thumb-cta__text">
        Members of the team undergo skills training, which usually proves to be inadequate as trainees rarely have the
        opportunity to use newly acquired knowledge before it is forgotten. Technical skills tend to be very tacit -
        knowledge that is difficult to transfer to another person by means of writing it down or verbalizing it.
      </p>
    </div>
    <div class="thumb-cta__thumb width_1-2 sm-width_1-1">
      <div class="thumb-cta__placeholder"><img src="/images/kitten.jpg"></div>
    </div>
  </div>
</section>